.dashboard-layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 350px;
  background-color: white !important; /* or any sidebar bg */
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 60px; /* if header is fixed */
}

.assign-box {
  max-width: 400px;
  border-radius: 15px;
}

.input-custom {
  border: none;
  border-radius: 0.375rem;
}

.input-group-text i {
  font-size: 1.1rem;
}


.main-content {
  margin-left: 350px;
  width: calc(100% - 250px);
  background-color: #fdfdfd;
}


